.group{
    display: flex;
    gap:10px;
}

.anual-leave{
    .header{
        display: flex;
        .left{
            flex:1;
        }
        .right{
            flex:1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap:10px;

            .result{
                font-weight: bold;
                font-size: 20px;
            }

            .value{
                font-size:20px;
            }
        }
    }
}

.add-leave.container{
    border:1px solid;
    margin-top:10px;
    >.title{
        border-bottom: 1px solid;
        font-weight: bold;
        padding:5px;
    }

    .add-leave-body{
        display: flex;
        
        .left{
            padding:10px;
            display: flex;
            flex-direction: column;
            gap:10px;
            flex:1.2;            
            border-right:1px solid;
        }
        .right{
            flex:1;
            padding:10px;

            .leaves-body{
                p{
                    display: flex;
                    gap:10px;

                    .year{
                        font-weight: bold;
                    }
                }
                
            }
        }
        
    }
}

.leave-footer-container{
    margin:5px;
    button{
        padding:5px;
    }
}

.leave-summary{
    margin-top:20px;
    >.title{
        font-weight: bold;
        font-size:24px;
        margin-bottom: 10px;    
    }
    table{
        width:100%;
        border:1px solid #ccc;
        border-collapse: separate;
        border-spacing: 0;

        thead{
            tr{
                th{
                    border:1px solid #ccc;
                    text-align: center;
                    &.expired{
                        background-color: red;
                        color:white;
                    }
                    .year{
                        display: block;
                    }

                    .fyear{
                        font-size:14px;
                        font-weight: 400;
                    }
                }
            }
        }

        tbody{
            tr{
                td,th{
                    text-align: center;
                    border:1px solid #ccc;
                }
            }
        }
    }
}